
// Colors

$color-blue: rgb(0, 123, 255);
$color-blue-dark: rgb(0, 68, 139);
$color-blue-light: rgb(58, 153, 252);
$color-dark: rgb(35,35,35);
$color-light: rgb(225,225,225);
$color-success: rgb(125, 210, 33);
$color-danger: rgb(249, 215, 218);
